extends ../layout/index
block contenido 
    main.container.mt-5 
        .row 
            .col-md-5   
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros" , class="img-fluid")
            .col-md-7 
                h1 #{pagina}   
                blockquote Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium minima error doloremque, molestiae quo eligendi accusamus soluta enim expedita libero inventore ducimus facere unde omnis, voluptas praesentium iusto, fugiat modi?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui itaque facere libero perferendis aliquam, reiciendis eligendi molestiae tempora fugit id ipsum? Aut, porro libero sed reiciendis eius quos ullam architecto?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae id aliquid delectus esse laboriosam obcaecati voluptatem eos aperiam sequi, mollitia quia voluptate in fuga quam quaerat soluta reprehenderit qui nisi.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
           .row
            .col-md-4 
                img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                h2.mb-h Seguridad
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti non repellendus praesentium sunt consequuntur exercitationem, dolor, labore esse at repudiandae distinctio ipsam obcaecati quae, corrupti assumenda laudantium laboriosam delectus. Qui!
            .col-md-4 
                img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                h2.mb-h Mejores Destinos
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti non repellendus praesentium sunt consequuntur exercitationem, dolor, labore esse at repudiandae distinctio ipsam obcaecati quae, corrupti assumenda laudantium laboriosam delectus. Qui!
            .col-md-4 
                img(src="img/icono_precios.svg", class="img-fluid mb-4")
                h2.mb-h Mejor Precio
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti non repellendus praesentium sunt consequuntur exercitationem, dolor, labore esse at repudiandae distinctio ipsam obcaecati quae, corrupti assumenda laudantium laboriosam delectus. Qui!



